html, body {height:100%}
body {	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;margin: 0;	padding: 0;	color: #000;color:#7F8289;}
html, hmtl a{width:100%;font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
#awal{ background:url(../img/rapat.jpg) no-repeat; background-size:cover; position:relative;overflow:hidden; height:100%; padding-top:2%; }
#logo {width:90%;background-color:#FFF ; min-height:300px;background:url(../img/overlay.png); z-index:-99; border:#9FC 3px solid;}
#logoa,#textLogo,#logob{ position:relative; min-height:210px; display:block; float:left; padding-top:20px;z-index: 0 ;}
#logoa { margin-left:3%;width:16%; background:url(../img/DKI.png) no-repeat ;}
#textLogo { width:62%; overflow:auto;} #textLogo h1{ color:#FFF; font-size:34px; padding:30px 15px 30px 15px;}
#logob{width:18%; background:url(../img/jaktim.png) no-repeat; float:right; overflow:visible;}
nav#menu { width:100%;margin-right: 20px; position:fixed; top:0;}
nav#menu #menu-nav {margin: 0;padding: 15px;  margin-left:80px}
nav#menu #menu-nav li {	list-style: none;	display: inline-block;	margin-left: 50px;}
nav#menu #menu-nav li:first-child {margin-left: 0;}
nav#menu #menu-nav li a {color: #FFFFFF;font-size: 16px;font-weight: 300;line-height: 20px;display: block;text-transform: uppercase; text-decoration:none;}
nav#menu #menu-nav li.current a,nav#menu #menu-nav li a:hover {	color: #DE5E60;}
.aaa, .bbb, .ccc{ margin-top:10px ; display: inline-block;margin-right:70px;  width:220px; height:110px;-webkit-animation: ilaangin 5s;animation: ilaangin 5s;
padding-top:10%; border-radius:120px;border:#FFF solid 4px ; color:#FFF}
a:hover>.aaa,a:hover>.bbb,a:hover>.ccc {opacity: 0.8; filter: alpha(opacity=85);  background-color:#99F; color:#666;}
.aaa { background:#066;-webkit-animation-delay: 0.1s; animation-delay: 0.1s;}
.bbb { background:#963;-webkit-animation-delay: 0.5s; animation-delay: 0.5s;}
.ccc { background:#930;-webkit-animation-delay: 1s; animation-delay: 1s ;}
@-webkit-keyframes twewew { 0%{ transform: scale(1,1);} 10%{ transform: scale(1.1,1.1)} 12% {transform: scale(1,1)}}
@keyframes twewew { 0%{ transform: scale(1,1);} 10%{ transform: scale(1.1,1.1)} 12%{ transform : scale(1,1)}}
@-webkit-keyframes ilaangin {0% { opacity :0 ; transform: scale(0.1,0.1); }5% { opacity :0 ; transform: scale(0.1,0.1); }14% { opacity :1 ; transform: scale(1.1,1.1); }
16% { opacity :1 ; transform: scale(0.9,0.9); } 18% { opacity :1 ; transform: scale(1,1); }}@keyframes ilaangin {0% { opacity :0 ; transform: scale(0.1,0.1); } 5% { opacity :0 ; transform: scale(0.1,0.1); }  14% { opacity :1 ; transform: scale(1.1,1.1); }16% { opacity :1 ; transform: scale(0.9,0.9); }18% { opacity :1 ; transform: scale(1,1); }}
.bwh{position: absolute;width: 100%;background: #2F3238;opacity: 0.85;height:60px;bottom: 0;z-index: 2;}
#awal #bwhsection {margin: 0;/*width: 50px;*/height:60px;opacity: 1;
-webkit-transition: background 0.1s linear 0s;transition: background 0.1s linear 0s;}
h1, h2, h3, h4, h5, h6, p {	margin-top: 0;padding-right: 15px;padding-left: 15px;}a img { border: none;}
.container {width: 100%;max-width: 1260px;min-width: 780px;background: #FFF;margin: 0 auto;overflow: hidden; z-index:0; padding-top:80px;}
.content {padding: 10px 0;width: 100%;float: left;}
.content ul, .content ol { padding: 0 15px 15px 40px; }
/*.fltrt {float: right;margin-left: 8px;}.fltlft { float: left;margin-right: 8px;}.clearfloat { clear:both;height:0;font-size: 1px;line-height: 0px;}*/
#nemplok{position: relative; width: 100%; margin-bottom:10px;height: 60px; background: #26292E;	z-index: 1001; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
